.footer_background_section{
    position: relative;
} 
.zigzag_lines_right{
    float:right;
}
.zigzag_lines_left{
    float: left;
}  
.home{
    display: flex;
    gap: 15px;
}
.footer_colors{
    color: #3B3A5D;
}
.footer_social{
    display: flex;
    gap: 30px;
    padding: 25px 0;
}
.about_heading{
    color: #B16642;
    font-family: "Source Sans 3";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    width: 579px 
}

.footer_subscribe_section{
    display: grid;
    grid-template-columns:  auto auto;
    gap: 155px;
}
.help_center{
    /* position: absolute; */
     display: flex;
    gap: 100px;
    padding: 70px 0;
}
.footer_about_help{
    padding: 20px 0;
    
}
.hovereffect{
    color: #B16642;    
    line-height: 178%; 
}
.hovereffect:hover{
    color: black;
    font-size:20px ;
    text-decoration: underline;
    cursor: pointer;  
    font-weight:400 ;
  
}
.contact_withus{
    width: 495px;
    border: 2px solid black;
}
.contact_outside{
    background-color: var(--light_yellow_color);
    border-radius: 5px;
    margin: 70px 0;
}
.contact_inside{
    margin: 47px 45px;

}
.xl_text{
    color: var(--primary_blue_color);

font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 118.5%; 
 }
.footer_help_center{
    display: flex;
    gap: 155px;
}
.kufam{
    font-family: 'Kufam'
}
.contact_inside-address{
    color: var(--primary_blue_color);
    font-family: "Source Sans 3";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 178%;
}
.footer_about_help{
    white-space: nowrap;
}
.utility{
    white-space: nowrap;
}
input{
    border: none;
} 
.address{
    display: flex;
    gap: 15px;
    padding: 10px 0;
     margin: 10px 0; 
     align-items: center;
}
.hr{
    padding: 50px 0;
}
.footer_copyright{
    color: #3B3A5D;
    font-family: "Source Sans 3";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    text-align: center;
    
}
 .mail{
        border:1px solid #C0C0C0;;
        padding: 25px 151px 24px 27px;
        border-radius: 5px;
        border: 1px solid #C0C0C0;
        background: #FFF;    
     }
     .footer_mail_section{
        border-left:2px solid grey ;
        padding: 0 130px 70px;
     }
    .footer_mail_side{
        display: flex;
        gap: 25px;
        padding: 15px 0;
       
    }
button{
    padding: 23px 39px;
    border-radius: 5px;
    background-color: #3B3A5D;
}
.zigzag_lines_right{
float: right;
}
.zigzag_lines_left{
float: left;
}
.home{
display: flex;
gap: 15px;
}
.footer_social{
display: flex;
gap: 25px;
padding: 25px 0;
}

@media(max-width:576px){

.footer_help_center{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
}
/* Properties for sale in your favorite area */

