* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}
li{
    list-style: none;
}

:root {
    --primary_blue_color: #3B3A5D;
    --secondary_orange_color: #B16642;
    --secondary_blue_color: #0A0B3B;
    --light_yellow_color: #FFBB50;
    --white_color: #FFF;
    --light_black_color: #757575;
    --blue_color: #3B3A5E;

}

body {
    font-family: 'Inter';
    font-family: 'Kufam';
    font-family: "Source Sans 3";
}

.container{
    max-width: 1920px;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;

}

.section{    
    padding: 0 260px;
}

/*common classes */

.h_primary {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 118.5%;
    /* 77.025px */
}


.h_secondary{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 118.5%;
    /* 53.325px */
}

.xxl_heading {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.xl_text {
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
    /* 29.625px */
}

.xb_heading {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.5%;
    /* 23.7px */
}

.sm_heading{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.5%;
    /* 23.7px */
}

/* header section start */

header {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 1034px;
    background: linear-gradient(108deg, #FFF6F2 16.64%, #EEC1AC 101.15%);
}


.home_image {
    vertical-align: bottom;
    z-index: 1;
} 

.header_nav_list {
    max-width: 1382px;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 242px;
    margin-top: 99px;
    padding: 44px 45px;
    background-color: var(--white_color);
}

.header_logo {
    display: flex;
    gap: 15px;
    align-items: baseline;
}

.nav_bar_list {
    display: flex;
    gap: 60px;
}

.nav_bar_title {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav_button {
    padding: 23px 61px;
    background-color: var(--blue_color);
    color: var(--white_color);
}


.nav_about_section {
    position: absolute;
    margin-top: 360px;
}


.header_nav_text {
    position: absolute;
    z-index: 1;
    padding-top: 411px;
    max-width: 609px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.home_icon_section {
    padding: 9px 14px;
    max-width: 375px;
    width: 100%;
    display: flex;
    gap: 15px;
    background: linear-gradient(270deg, #F3D1C1 -3.75%, rgba(255, 178, 141, 0.00) 108.58%);
}

.home_heading_text {
    max-width: 600px;
    width: 100%;
}

.home_about_text {
    color: var(--secondary_orange_color);
}

.home_button {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 252px;
    width: 100%;
    padding: 24px 30px;
}
.home_section{
    float: right;
    padding-top: 60px;
}

/* section part start */


.sell_part_text_bar {
    max-width: 942px;
    width: 100%;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 65px 72px;
}

.sell_part {
    display: flex;
    gap: 38px;
    margin-top: 100px;
    height: 450px;
}

.selling_heading {
    padding: 15px 0 25px;
    max-width: 530px;
    width: 100%;
}

.selling_part_section {
    display: flex;
    gap: 11px;
}

.selling_video_bar img {
    max-width: 420px;
    width: 100%;
    height: 449px;
}

.selling_info_bar {
    color: var(--secondary_orange_color);
}

.one {
    color: var(--light_yellow_color);
}

.button_click_section {
    display: flex;
    gap: 9px;
}

.radio_button {
    padding-top: 25px;
    display: flex;
    gap: 30px;
}



/* 
/* Footer Work Start */
   .footer_background_section{
        position: relative;
        background-color:#ead6d6 ;
    } 
    .zigzag_lines_right{
        float:right;
    }
    .zigzag_lines_left{
        float: left;
    }  
    .home{
        display: flex;
        gap: 15px;
    }
    .footer_colors{
        color: #3B3A5D;
    }
    .footer_social{
        display: flex;
        gap: 30px;
        padding: 25px 0;
    }
    .about_heading{
        color: #B16642;
        font-family: "Source Sans 3";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 118.5%;
        width: 579px 
    }
    
    .footer_subscribe_section{
        display: grid;
        grid-template-columns:  auto auto;
        gap: 155px;
    }
    .help_center{
        /* position: absolute; */
         display: flex;
        gap: 100px;
        padding: 70px 0;
    }
    .footer_about_help{
        padding: 20px 0;
        
    }
    .hovereffect{
        color: #B16642;
        font-family: "Source Sans 3";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 178%; 
    }
    .hovereffect:hover{
        color: black;
        font-size:20px ;
        text-decoration: underline;
        
     font-weight:400 ;
      
 }
    .contact_withus{
        width: 495px;
        border: 2px solid black;
    }
    .contact_outside{
        background-color: var(--light_yellow_color);
        border-radius: 5px;
        margin: 70px 0;
    }
    .contact_inside{
        margin: 47px 45px;
    
    }
    .xl_text{
        color: var(--primary_blue_color);
    
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%; 
     }
    .footer_help_center{
        display: flex;
        gap: 155px;
    }
    .kufam{
        font-family: 'Kufam'
    }
    .contact_inside-address{
        color: var(--primary_blue_color);
        font-family: "Source Sans 3";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 178%;
    }
    .address{
        display: flex;
        gap: 15px;
        padding: 10px 0;
         margin: 10px 0; 
         align-items: center;
    }
    .hr{
        padding: 50px 0;
    }
    .footer_copyright{
        color: #3B3A5D;
        font-family: "Source Sans 3";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 118.5%;
        text-align: center;
        
    }

        .mail{
            border:1px solid #C0C0C0;;
            padding: 25px 151px 24px 27px;
            border-radius: 5px;
            border: 1px solid #C0C0C0;
            background: #FFF;    
         }
         .footer_mail_section{
            border-left:2px solid grey ;
            padding: 0 130px 70px;
         }
        .footer_mail_side{
            display: flex;
            gap: 25px;
            padding: 15px 0;
           
        }
    button{
        padding: 23px 39px;
        border-radius: 5px;
        background-color: #3B3A5D;
    }
    

Footer Work End 


footer{
    background-color:var(--light_yellow_color);
}
.zigzag_lines_right{
    float: right;
}
.zigzag_lines_left{
    float: left;
}
.home{
    display: flex;
    gap: 15px;
}
.footer_social{
    display: flex;
    gap: 25px;
    padding: 25px 0;
}

@media(max-width:576px){

    .footer_help_center{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
/* Properties for sale in your favorite area */

.hero_section {
    background: #F5F1EF;
    padding: 200px 0;
    margin: 100px 0;
}

.property_heading_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 100px 0;
}

.sale_heading {
    max-width: 609px;
    width: 100%;
    text-align: center;
    padding: 16px 0 0 0;
}

.all_property_card {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 38px;
    row-gap: 40px;
}


.first_property_section {
    max-width: 681px;
    width: 100%;
    padding: 47px 39px;
    background-color: var(--white_color);
}

.area_sele_section {
    color: var(--light_yellow_color);
    display: flex;
    justify-content: space-between;
    margin: 26px 0 32px 0;
}

.sale_button {
    max-width: 147px;
    width: 100%;
    padding: 16px 33px;
    background-color: var(--light_yellow_color);
}

.sale_address {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 0 0 24px 0;
    
}

.about_sale_property {
    display: flex;
    gap: 25px;
}

.touch_icon {
    text-align: center;
}

.touch_button {
    padding: 23px 30px;
    text-align: center;
    margin-top: 100px;
}

/* Properties Of Real Estate Industries */

.real_state_section {
    display: grid;
    grid-template-columns: 441px 444px 444px;
    row-gap: 38px;
    column-gap: 38px;
}

.second_real_state_text {
    grid-column: 2/span 2;
}

.first_real_state_text {
    max-width: 441px;
    width: 100%;
    padding: 48px 41px 81px 41px;
    background: linear-gradient(142.75deg, #F3D1C1 2.44%, #FFEEE6 98.38%);


}

.real_statr_text {
    max-width: 359px;
    width: 100%;
}

.real_state_heading {
    margin: 46px 0 12px 0;
}

.second_real_state_text {
    display: flex;
    max-width: 921px;
    width: 100%;
    background: linear-gradient(142.75deg, #F3D1C1 2.44%, #FFEEE6 98.38%);
    padding: 48px 41px 81px 41px;
}

.real_home_img {
    max-width: 483px;
    width: 100%;
}

.trusted_img {
    max-width: 203px;
    width: 100%;
}

.loaction_img {
    max-width: 374px;
    width: 100%;
}

.lowest_commission_img {
    max-width: 278px;
    width: 100%;
}

/* for helping you find the right Propertys */

.right_proerty_background{    
      padding: 100px 0;
   background: linear-gradient(180deg, #DCDCDC 0%, rgba(255, 240, 233, 0) 100%);
}
.right_property_heading{
    max-width: 550px;
    width: 100%;
}
.right_property_section{
    display: flex;
     justify-content: space-between;
}
.about_right_property{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.right_property_img{
     height: 427px;
     vertical-align: bottom;
}
.right_button{
    max-width: 189px;
    width: 100%;
    padding: 23px 26px;
    border-radius: 5px;
 background-color: var(--light_yellow_color); 
 margin-top: 25px;
 
}
.right_property_info{
    max-width: 577px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}







}






.properland{
    display: block;
}




@media(max-width:567px) {


    .section {
        padding: 0 50px;
    }


    .h_primary {
        font-size: 40px;
    }


    .h_secondary {
        font-size: 25px;
    }

    .xxl_heading {
        font-size: 20px;
    }

    .xl_text {
        font-size: 16px;
    }

    .xb_heading {
        font-size: 12px;
    }

    .sm_heading {
        font-size: 12px;
    }


    /* selling part */

    .hero_section {
        background: #F5F1EF;
        padding: 100px 0;
        margin: 50px 0;
    }

    .sell_part {
        display: flex;
        flex-direction: column;
    }

    .sale_propety_img {
        max-width: 350px;
        width: 100%;
    }

    /* Footer responsive */
    .hr1{
        display: none;
    }
    .utility{
        white-space: nowrap;
    }
    .properland{
        display: none;
    }


}